{% extends "admin/base.html" %}

{% block zusatz_css %}
{% endblock zusatz_css %}

{% block content %}

<style>
	body{
		margin:1em auto;
		max-width:40em;
		padding:0 .62em;
		font:1.2em/1.62 sans-serif;
	}

	h1,h2,h3 {
		line-height:1.2;
		font-size: 2em;
	}
	h4 {
		line-height:1.2;
		font-size: 1.1em;
	
	}
	@media print{
		body{
			max-width:none
		}
	}
</style>

<h1> Anmeldung zum Orpheus-Seminar 2019 </h1>
<hr>
<h4>Datenschutzhinweis, Verarbeitung personenbezogener Daten</h4>
<p>
    Die bei der Anmeldung angegebenen Daten werden zur Durchführung des Seminars erhoben, gespeichert und verarbeitet. Eine Weitergabe an Dritte erfolgt nur, sofern dies zur Durchführung des Seminars erforderlich ist. Zur Planung der Anreise können einige der Daten (u.A. Name, Bundesland und Handynummer (sofern angegeben)) von anderen Teilnehmenden eingesehen werden.<br>

    Die bei der Anmeldung angegebenen persönlichen Daten werden spätestens ein Jahr nach Beendigung des Seminars gelöscht. Zu Zwecken der Berichterstattung über die PhysikOlympiade wird deine Teilnahme an dem Orpheus-Seminar zu deinem Account im ScienceOlympiadenportal vermerkt. <br>
    
    Deine personenbezogenen Daten können jederzeit mit einer Nachricht an info@orpheus-verein.de gelöscht werden. Des weiteren gelten die Rechte nach Art. 15-22, 34 DSGVO.
</p>
<hr>

<h4>Anmeldung</h4>


  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Anmeldung speichern!" />
  </form>
{% endblock content %}
